<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1" width="100%" border-spacing="0" cellspacing="0" cellpadding="0" style="padding: 0;">
        <tbody>
            <tr>
                <td colspan="4" width="80%">
                    <table width="100%">
                        <tr>
                            <td width="30%">
                                <img src="https://prolificdemo.com/dev_rapid_group/assets/theme/admin/logo/rapid_logo_black.png"
                                    alt="" height="50px" width="160px">
                            </td>
                            <td width="70%" colspan="2" style="text-align: center;">
                                <h1 style="margin: 0;">RAPID GROUP</h1>
                                GST No: 24ABFFR4789P1ZB <br>
                                Mobile: 9276207147, 9274919848 <br>
                                G-12, Swastik chamber, Nr Makarpura bus depot, Makarpura, Vadodara, Gujarat 390013
                            </td>
                        </tr>
                    </table>
                </td>
                <td colspan="2" width="20%">
                   <div style="text-align: center;">
                    <h1>1/2</h1>
                   </div>
                </td>

            </tr>
            <tr>
                <td width="25%">Receipt No:</td>
                <td width="25%">46534</td>
                <td colspan="4">c</td>
                <!-- <td>d</td>
                <td>c</td>
                <td>d</td>
             -->
            </tr>
            <tr>
                <td>Sender Name</td>
                <td>b</td>
                <td width="15%">Mobile-No</td>
                <td width="15%">d</td>
                <td  width="5%">From:</td>
                <td>d</td>

            </tr>
            <tr>
                <td>Receiver Name</td>
                <td>b</td>
                <td width="15%">Mobile-No</td>
                <td width="15%">d</td>
                <td  width="5%">To</td>
                <td>d</td>

            </tr>

            <tr style="text-align: center;">
                <td colspan="6">OFFICE : Vadodara , Ahmedabad , Pune , Nashik , Udaipur</td>
                <!-- <td>b</td>
                <td>Mobile-No</td>
                <td>d</td>
                <td>To</td>
                <td>d</td> -->

            </tr>
            <tr style="text-align: center;">
                <td colspan="6">rapidgroupbaroda@gmail.com</td>
                <!-- <td>b</td>
                <td>Mobile-No</td>
                <td>d</td>
                <td>To</td>
                <td>d</td> -->

            </tr>
        </tbody>
    </table>
</body>

</html>