.table-options {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

  }
  
  .entries-selector {
    display: flex;
    align-items: center;
    margin-left: 5px;
    gap: 0.5rem;


  }
  
  .action-buttons {
    display: flex;
    border-radius: 10px;
   
    margin-top: 13px;
  margin-left: 12px;
  }
  
  .pdf-button, .excel-button, .copy-button, .column-visibility-button {
    background-color: #858b94;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    

  }
  
  .column-visibility-button {
    padding: 0.5rem 0.75rem;
    background-color: #e9ecef;
    color: #343a40;
    border: none;
  }
  
  .column-visibility-button:hover {
    background-color: #d1d5db;
  }
  .search-input {
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
    gap: 0.5rem;

  }
  
  .search-input:focus {
    outline: none;
    box-shadow: 0 0 2px 1px rgba(0, 123, 255, 0.2);
    gap: 0.5rem;

  }

  .search{
    margin-left: 41%;
    margin-top: 12px;
    gap: 0.5rem;
  }

  .serch label{
    gap: 0.5rem;

  }
.new-table .rdt_TableCell div{
  white-space: wrap !important;
  

}

.new-table .kzZBXj{
  white-space: wrap !important;

}
/* .eFEHrh div:first-child{
  white-space: wrap !important;
} */


.designbtn{
  display: inline;
  /* display: flex; */

}
/* .column-visibility-menu {
  display: none; /* Initially hidden */
  /* position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 1000;
} */
/* 
.column-visibility-menu.show {
  display: block; /* Show when needed */
/* }

.column-visibility-menu input[type="checkbox"] {
  margin-right: 5px;
} */ 



 /* Initially hide the dropdown menu */
.column-visibility-menu {
  display: none;
  position: absolute;
  background-color: #ffffffef;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 1000;
  margin-top: 22%;

  margin-left: 30%; /* Adjust margin to align with button */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional for better visibility */
}

/* Show the dropdown menu when it has the 'show' class */
.column-visibility-menu.show {
  display: block;
}

/* Style for dropdown menu items */
.column-visibility-menu div {
  margin-bottom: 5px;
}

.column-visibility-menu input[type="checkbox"] {
  margin-right: 5px;
}



